@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  align-items: center;
}

body {
  font-family: montserrat;
  text-align: center;
  background-color: #2A9D8F;
}

h1{
  height: 60px;
  color: #F78B1F;
  font-size: 45px;
  margin: 0 auto;
}

header{
  background-color:  #f0f420;
  display: block;
  height: 76px;
}

.logo {
  background: #264653;  
  width: 20%;
  float: left;
}
.logoelem{
  margin: auto;
  height: 76px;
  float: left;
}

.menu {
  background: #264653;
  width: 80%;
  float: left;
  align-items: center;
  justify-content: center;
}

ul li {
  height: 60px;
  float: left;
  list-style: none;
  margin: 8px  10px  8px  0px ;
}

ul li a {
  display: block;
  padding: 5px;
  color: #D4D4D4;
  font-size: 40px;
  
}

ul li a:hover {
  color: #F78B1F;

}

.root{
  display: inline-flex;
  background-color: #E9C46A;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.card {
  margin: 1rem;
  border: 1px solid gray;
  width: 201px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
  display: inline-block;
}

.card img {
  float: left;
  width:  200px;
  height: 300px;
  object-fit: cover;
}